<p>Bonjour {{ name }},</p>

<p>Votre rendez-vous a bien été confirmé.</p>

<ul>
    <li><strong>Date et heure :</strong> {{ datetime|date('d/m/Y à H:i') }}</li>
    <li><strong>Prestation :</strong> {{ prestation }}</li>
</ul>

<p>
    Nous vous attendons au salon.<br>
    En cas d’empêchement, merci de nous prévenir à l’avance.
</p>

<p>
    À très bientôt,<br>
    <strong>Votre salon de coiffure</strong>
</p>