<p>Bonjour,</p>
<p>Vous avez reçu un nouveau message depuis le formulaire de témoignage de votre salon de coiffure.</p>
<p><strong>Informations du contact :</strong></p>
<ul>
    <li><strong>Nom :</strong> {{ author }}</li>
    <li><strong>Message :</strong> {{ message }}</li>
</ul>
<p>Pour consulter le témoignage complet : rendez-vous sur votre espace d’administration.</p>
<p>Bonne journée,</p>
<p><em>Votre site freelance</em></p>